
.blind{
    position: absolute;

    margin: -1px;
    width: 1px;
    height: 1px;
}
.center-aline {
    margin : 0 auto;
    width: 1080px; 
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
display: inline-block;

}
#header-search  h1  {
width: 280px;
display : inline-block;
vertical-align: middle;

}
#header-search h1 span {
    display: none;
}
#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left: 20px;
    padding-left: 10px;
    padding-bottom: 12px;
    width: 520px;
    height: 48px;
    display : inline-block;
    border: 2px solid pink;
  
    vertical-align: middle;
    position: relative;
}
#header-search fieldset input{
    border: none;
    outline: none;
    vertical-align:middle;
 
    width: 450px;
    height: 26px;
    padding: 0;
   
}
#header-search fieldset button{
 width: 60px;
 height: 70px;
 border: none;
 padding: 0;
 background : green;
 position: absolute;
 right: -2px;
 top:-2px;

}


#header-center{
    margin: 0 auto;
     width: 1080px;
}
#header-search > h1 {
    width:280px;
}
#header-search h2{
    display: none;

}

#header-search fieldset{
    width: 520px;
}
